<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

    <bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"></property>
        <property name="url" value="jdbc:mysql://127.0.0.1:3306/bbs?autoReconnect=true"></property>
        <property name="username" value="root"></property>
        <property name="password" value="660419"></property>
        <property name="maxTotal" value="100"></property>
        <property name="maxIdle" value="30"></property>
        <property name="maxWaitMillis" value="500"></property>
        <property name="defaultAutoCommit" value="true"></property>
    </bean>

    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="configLocation" value="classpath:mybatis-config.xml"></property>
        <property name="dataSource" ref="dataSource" />
    </bean>

    <bean id="singleDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="com.bbs.mapper.SingleMapper"></property>
        <property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
    </bean>
    <bean id="jobsDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="com.bbs.mapper.JobsMapper"></property>
        <property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
    </bean>
    <bean id="userDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="com.bbs.mapper.UserMapper"></property>
        <property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
    </bean>
    <bean id="subscribeDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="com.bbs.mapper.SubscribeMapper"></property>
        <property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
    </bean>
    <bean id="quartzJob" class="com.bbs.subscribe.SubscribeJob">
         <property name="mailSender">
             <ref bean="mailSender"/>
         </property>
         <property name="subscribeDao">
             <ref bean="subscribeDao"/>
         </property>    
         <property name="mailsubject" value="职位订阅"/>
           
    </bean>
	<bean id="jobtask" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
         <property name="targetObject">
             <ref bean="quartzJob"/>
         </property>
         <property name="targetMethod">  <!-- 要执行的方法名称 -->  
	        <value>execute</value>  
	     </property> 
	     <property name="arguments">
             <list>
                 <value>1</value><!-- 发邮件的线程数 -->  
                 <value>10</value><!-- 订阅返回的记录数-->
                 <value>http://www.4jobs.me</value><!-- 链接的hostname--> 
            </list>
         </property>
    </bean>
    <!-- 定义触发时间 -->
    <bean id="workTime" class="org.springframework.scheduling.quartz.CronTriggerBean">
        <property name="jobDetail">
            <ref bean="jobtask"/>
        </property>
        <!-- cron表达式 -->
        <property name="cronExpression" value="0 0 23 * * ?"/>
    </bean>
	<bean id="startQuertz" lazy-init="false" autowire="no" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="triggers">
            <list>
                <ref bean="workTime"/>
            </list>
        </property>
    </bean>
	<bean id="mailSender" class ="org.springframework.mail.javamail.JavaMailSenderImpl" >
        <property name="host" value="smtp.exmail.qq.com" />
        <property name="username" value="jobs@4jobs.me" />
        <property name="password" value="seed2014" />
        <property name="javaMailProperties">
			<props>
                <prop key="mail.smtp.auth">true</prop>
                <prop key="mail.smtp.timeout">25000</prop>
            </props>
        </property>
	</bean>
	<bean class="com.bbs.subscribe.MailValidate">
        <property name="mailSender">
            <ref bean="mailSender"/>
        </property>
	</bean>
    <bean class="com.bbs.service.Jobs"/>
    <bean class="com.bbs.service.Single"/>  
    <bean class="com.bbs.service.User"/>
    <bean class="com.bbs.service.Subscribe"/>
</beans>
