<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <mappers>
  	<mapper resource="com/bbs/xml/Single.xml"/>
  	<mapper resource="com/bbs/xml/Jobs.xml"/>
  	<mapper resource="com/bbs/xml/User.xml"/>
  	<mapper resource="com/bbs/xml/Subscribe.xml"/>
  </mappers>
</configuration>